### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000